<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">

    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <%- include('./components/layout/linkIcons.ejs') %>


    <nav class="navbar navbar-expand-lg
      navbar-light bg-secondary
      w-100
      py-10
      z-index-999
      shadow-sm
      <%- current === 'index' ? 'position-fixed' : 'position-sticky top-0' %>"
      data-aos="fade-down"
      data-aos-duration="800"
      data-aos-delay="200"
      data-aos-offset="0"
    >
      <%- include('./components/layout/navbar.ejs') %>
    </nav>

    <%- contents %>

    <%- include('./components/layout/footer.ejs') %>

    <%- include('./components/layout/moadls.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>